/ HAML Code Reference

/ HAML = HTML Abstraction Markup Language ; recursive definition


/ !!! opening <!DOCTYPE HTML>


/ % basic HAML syntax for conversion to HTML
/ %p for paragraphs
/ %table for table element
/ etc...


/ # for ids
/ . for classes
/ - use ROR interpreter and DO NOT display output (mostly for conditional logic)
/ = use ROR interpreter and DO display output
/ : assuming javascript???


/ indentions for every nested structure is with 2 spaces
/ this is for the opening and closing angled brackets in HTML
/ this is necessary for the page construction
/ any imporoper indentation in a HAML file will throw an error
/ this helps keep thed code clean, DRY, readable, and easier to debug


.class
/ by default, every base class (if not prefixed by an element type) is automatically a div
.class{ name: "string", content: "string", href: "string", rel: "string", style: "property: value;",  }
/ HAML can take block data using curly brackets
.class String Output
/ use plain text for basic string output
.class= variable.output
/ use "=" for more complex (dynamic) output


/ --------------------------------------------------------------------------------------------------------------


:javascript
  dataLayer = [{
  }];
/ End GTM Data Layer

/ Google Tag Manager
:javascript
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({"gtm.start":
  new Date().getTime(),event:"gtm.js"});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!="dataLayer"?"&l="+l:"";j.async=true;j.src=
  "https://www.googletagmanager.com/gtm.js?id="+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,"script","dataLayer","GTM-PM4MD8D");
/ End Google Tag Manager

%title
  - if (yield :title) != "N2 Publishing" && !(yield :title).blank?
    = yield :title
    \- N2 Publishing
  - else
    N2 Publishing
= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700", "https://api.tiles.mapbox.com/mapbox-gl-js/v0.30.0/mapbox-gl.css", "https://storage.googleapis.com/code.getmdl.io/1.3.0/material.grey-red.min.css", "application", media: "all", "data-turbolinks-track" => true

%meta{ name: "twitter:card", content: "summary" }/
%meta{ name: "twitter:site", content: "@N2Publishing" }/
/ Default Meta Data
- if content_for?("description")
  %meta{ content: yield("description"), name: "description" }/
%meta{ content: "width=device-width, initial-scale=1.0, maximum-scale=1.0", name: "viewport" }/
%link{ href: "//cdn.materialdesignicons.com/1.3.41/css/materialdesignicons.min.css", rel: "stylesheet" }/
%link{ href: asset_path("logo.png"), rel: "apple-touch-icon" }/
%link{ href: asset_path("logo.png"), rel: "apple-touch-icon-precomposed" }/
